<div id="quick-markup" class="bottom-panel">
  <div class="toolbar simple-toolbar-layout">
    <span class="title">Quick Markup Mode</span> &mdash; {{keyString}}-Shift-M to toggle mode. {{keyString}}-Alt-M to toggle help. 
  </div>
  <div class="qm-content">
    <table>
      <tr>
          <td colspan="6">In Quick Markup Mode, the editor works the same, except for the following list of shortcuts. Default is insert tag. Shift key converts existing tag.</td>
      </tr>
      <tr>
        <td class="qm-shortcut">{{keyString}}-Enter</td>
        <td class="qm-description">Split Tag</td>
        <td class="qm-shortcut">{{keyString}}-Delete</td>
        <td class="qm-description">Join Next Sibling Tag</td>
        <td class="qm-shortcut">{{keyString}}-Backspace</td>
        <td class="qm-description">Join Previous Sibling Tag</td>
      </tr>
    </table>
  </div>
</div>
